@{
    ViewData["Title"] = "صفحه اصلی";
}

<partial name="AboutMe" />

@await Component.InvokeAsync("Projects")

<div class="container">
    <hr>
</div>

@await Component.InvokeAsync("LatestArticles")
